@font-face {
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}

body {
    background-color: #FFE9E6;
}

header {
    background-color: #DB4F04;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 60px 60px;
    height: 196px;
    width: 100%;
}

header h1 {
    font-size: 40px;
    color: #FFE9E6;
    margin-left: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav a {
    font-size: 40px;
    color: #FFE9E6;
    padding: 15px;
    text-decoration: dashed;
}

main {
    background-color: #FFE9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verde {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #485935;
    width: 1153px;
    height: 673px;
    border-radius: 60px 60px 60px 60px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 344px;
    height: 337px;
}
.data p{
    color: #FFE9E6;
    font-size: 24px;
    text-align: center;
}