@font-face {
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}

body {
    background-color: #FFE9E6;
}

header {
    background-color: #DB4F04;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 60px 60px;
    height: 196px;
    width: 100%;
    border: 15px;
}

header h1 {
    font-size: 40px;
    color: #FFE9E6;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

a {
    font-size: 40px;
    color: #FFE9E6;
    text-decoration: dashed;
    margin: 20px;
}

main {
    background-color: #FFE9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1{
    font-size: 55px;
    margin: 30px;
}
.verde{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #485935;
    width: 1153px;
    height: 572px;
    border-radius: 60px;
    margin-bottom: 30px;
}

.fileira{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pergunta{
    margin: 15px;
}
input{
    width: 414px;
    height: 57px;
    background-color: #FFE9E6;
    border: none;
    border-radius: 60px;
    padding: 15px;
    font-size: 20px;
}
button{
    width: 293px;
    height: 68px;
    background-color: #DB4F04;
    text-align: center;
    border: none;
    border-radius: 60px;
    color: #FFE9E6;
    font-size: 30px;
    margin-left: 120px;
    margin-top: 30px;
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}
p{
    color: #FFE9E6;
    font-size: 25px;
}