@font-face {
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}

body {
    background-color: #FFE9E6;
}

header {
    background-color: #DB4F04;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 60px 60px;
    height: 196px;
    width: 100%;
}

header h1 {
    font-size: 40px;
    color: #FFE9E6;
    margin-left: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav a {
    font-size: 40px;
    color: #FFE9E6;
    padding: 15px;
    text-decoration: dashed;
}

main {
    background-color: #FFE9E6;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.inicio h1 {
    font-size: 60px;
    text-align: left;
    width: 417px;
    margin-left: 80px;
    margin-top: 80px;
}

.inicio img {
    width: 645px;
    height: 750px;
}

.inicio2 {
    background-color: #1D411B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inicio2 h1 {
    font-size: 64px;
    color: #FFE9E6;
    padding-left: 90px;
    text-align: center;

}

.inicio2 img {
    width: 1148.23px;
    height: 645px;
}

.laranja {
    width: 8800px;
    height: 645px;
    transform: skew(15deg);
    background: #D46E00;
    margin-left: -200px;
}

.avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img1 {
    width: 613px;
    height: 375px;
    margin-top: 60px;
    margin-left: 60px;
}

.img2 {
    width: 294px;
    height: 299px;
    margin-left: 450px;
    margin-top: -80px;
}

.img3 {
    width: 299px;
    height: 299px;
    margin-left: 200px;
    margin-top: -180px;
}

.perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
}

.perfil img {
    width: 78px;
    height: 78px;
}

.perfil h1 {
    font-size: 36px;
}

.estrelas {
    width: 302px;
    justify-content: right;
}

.avaliacaot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avaliacaot p {
    font-size: 24px;
    width: 480px;
    text-align: center;
    margin-left: 35px;
}

.textoc {
    font-size: 55px;
    padding: 35px;
}

.cardapio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.comida1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DB4F04;
    width: 369px;
    height: 517.5px;
    margin-top: 20px;
    border-radius: 27px 27px 0 0;
}

.comida1t {
    font-size: 45px;
    background-color: #FFE9E6;
    text-align: center;
    width: 360px;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.comida1 img {
    width: 310px;
    height: 310px;
}

footer {
    background-color: #1D411B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 60px 60px 0 0;
    height: 500px;
    margin-top: 50px;
}

.siga {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.siga h1 {
    color: #FFE9E6;
    padding: 15px;
    text-align: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.img-footer img{
    width: 831px;
    height: 893px;
    background: none;
    margin-top: -8000px;
    margin-left: 5000px;
}