
@font-face { 
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FBF5E7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1E27FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 30px 30px;
    height: 221px;
    width: 100%;
    padding: 0 50px;
}

header h1 {
    font-size: 70px;
    color: #FBF5E7;
    padding-right: 50px;
    font-family: "fonte";
}

button {
    background-color: #;
    border: none;
    width: 93px;
    height: 93px;
    padding-left: 20px;
    cursor: pointer;
}

button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.quadrinhos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.fileira {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
}


.quadrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    border: 6px solid black;
}

.quadrinho h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

.imgq img {
    width: 100%;
    height: 320px;
    border-radius: 15px;
}


.info_baixo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    font-size: 20px;
}

.info_baixo p {
    font-size: 25px;
}

.info_baixo img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}
