@font-face {
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}
main{
    background-color: #F5EEE6;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.sangue img{
    width: 100%;
}
.inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -170px;
}
.inicio img{
    width: 559px;
    height: 599px;
    margin-top: 80px;
}
.titulo{
    font-size: 110px;
    color: #1D1D23;
}
.titulom{
    font-size: 110px;
    color: #1D1D23;
    padding-left: 130px;
    margin-top: -125px;
}
.TT{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    margin-top: -200px;
}
.popularest{
    color: #B00C24;
    font-size: 63px;
    padding-left: 50px;
}
.populares{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.populares img{
    width: 368px;
    height: 552px;
}
.filmep{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.filmep a{
    text-decoration: dashed;
    font-size: 27px;
    color:  #1D1D23;
    padding: 25px;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.texto h1{
    font-size: 63px;
    color: #B00C24;
}
.texto p{
    font-size: 25px;
    width: 1113px;
}
.curiosidades{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.curiosidades img{
    width: 563px;
    height: 682px;
    margin-top: -200px;
}
.curiosidades p{
    font-size: 25px;
    width: 524px;
    padding-right: 50px;
    width: 524px;
    margin-top: -20px;
}
.curiosidadest{
    font-size: 63px;
    color: #B00C24;
    text-align: left;
    padding-left: 50px;

}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
}
.filmet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.img-coracao{
    width: 151px;
    height: 146px;
    padding-left: 15px;
}
.filmet a{
    font-size: 45px;
    color: #1D1D23;
    text-decoration: dashed;
    padding-top: 25px;
}
.filmet p{
    font-size: 24px;
    text-align: left;
    width: 350px;
}
.img-filme{
    width: 294px;
    height: 441px;
    padding-right: 30px;

}
.topt{
    color: #B00C24;
    font-size: 63px;
    text-align: right;
    padding-right: 200px;
}
footer{
    background-color: #B00C24;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    padding: 15px;
}
a :hover{
    color: #B00C24;
}
footer img{
    width: 50px;
    height: 50px;
    padding: 10px;
}
footer h1{
    color: #F5EEE6;
    font-size: 50px;
}