@font-face {
    font-family: "fonte";
    src: url(apple_garamond/AppleGaramond-Bold.ttf);
}
header{
    width: 100%;
    height: 50px;
}
main{
    background-color: #D5D5D5;
    justify-content: center;
}
body{
    background-color: #D5D5D5;
}
.inicio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
.texto-inicio{
padding: 25px;

}
.poster{
    width: 100%;
    display: flex;
    justify-items: flex-end;
}
.elenco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.elencoT{
    text-align: left;
    padding-left: 60px;
}
.fileira{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.ator{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}
h1{
    width: 100%;
    color: #3B63A8;
    font-size: 50px;
}
p{
    font-size: 30px;
}
.img-poster{
    width: 400px;
    padding-bottom: 20px;
}
.resumo{
    width: 712px;
    height: 301px;
    text-align: left;
    font-size: 32px;
}
.diretor{
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
}
.texto-diretor{
    padding: 15px;
}
.trailer{
    display: flex;
    align-items: center;
    flex-direction: column ;
    justify-items: center;   
    padding: 20px;
}
.trailerT{
    width: 100%;
    text-align: center;
}
a{
    color: black;
    font-size: 32px;
    transition: all 0.5s ease-in-out;
}
a:hover {
    
    font-size: 34px;
    background-color: #3B63A8;
    border-radius: 25px;
    padding: 10px;
}
.img_opiniao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.img_opiniao img{
padding: 5px;
}
.opiniaoT{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.linha{
    background-color: #0a2047;
    height: 50px;
    width: 100%;
}
